.dim {
  min-height: 2000px;
  font-family: Helvetica;
  background-color: red;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

.copyright {
  margin-bottom: 40px;
  text-align: center;
}
